/* LIST  */

.container{

    display: flex;
    align-items: center;

    background-color: grey;
    margin: 5px;
    border-radius: 3px;

    overflow-x: auto;
}

.list{
    display: inline-flex;
    flex-shrink: 0;
}

.day_list{

   min-width: 200px;

}

.get_list{
    margin: 10px;
    position: relative;
    border-radius: 50%;
    border: 3px solid black;
    outline: 2px solid yellow;
    width: 50px;
    height: 50px;
}

.get_list_picture{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
}

.get_list_total{
    z-index: 1;
    position: absolute;
    bottom: 0%;
    left: 60%;
    background-color: rgba(0, 0, 0, 0.66);
    color: white;
    border-radius: 10px;
    padding: 2px 5px;
}

/* LIST  */


/* INPUT */
.checkbox{

    position: relative;

    margin: 5px;

}

.checkbox > input[type="checkbox"]{

    position: absolute;

    margin: 0;
    padding: 0;

    height: 20px;
    width: 20px;

    top: 50%;
    left: 2px;

    transform: translateY(-50%);

}

.checkbox > label{

    position: relative;

    display: block;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;

    border: 2px solid transparent;

    border-radius: 2px;

}

.checkbox > label > .input1{

    display: block;

    margin-top: 5px;
    padding: 10px;

    height: 20px;

    width: 100px;
    max-width: 100%;

}

.checkbox > input[type="checkbox"]:checked + label {

    border: 2px solid grey;

}
/* INPUT */

#hasil_pendapatan{

    max-height: 50vh;
    overflow-x: auto;

    margin-bottom: 5px;

}

#jumlah_pendapatan{

    position: sticky;
    bottom: 0;

    z-index: 1;

    background-color: gray;

    display: flex;
    justify-content: space-evenly;

}